
#team .container {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
}

#team .container .teamate {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
}

#team .container .teamate .header {
    margin-bottom: 10px;
}
#team .container .teamate .header img{
    margin-bottom: 10px;
    border: 3px solid #4E52CE;
    border-radius: 100%;
    background-color: #4E52CE;
    box-shadow: 0 5px 15px 0px rgb(0 0 0 / 60%);
}
#team .container .teamate .body img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    transform: translateY(15px);
    box-shadow: 0 5px 15px 0px rgb(0 0 0 / 60%);
    border-radius: 100%;
}

#team .container .teamate .body .name, #team .container .teamate .body .lastname {
    font-weight: bold;
    font-size: 130%;
} 

#team .container .teamate .body .position {
    font-weight: bold;
    font-size: 110%;
    opacity: 0.7;
} 

#team .container .teamate a, #team .container .teamate a:active, #team .container .teamate .social-item{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#team .container .teamate a:hover, #team .container .teamate .social-item:hover {
    opacity: 0.7;
}