#header {
  height: 100vh;
  min-height: 700px;
  background: rgb(216, 166, 214);
  background: linear-gradient(
    135deg,
    rgba(216, 166, 214, 1) 0%,
    rgba(124, 81, 160, 1) 50%,
    rgba(27, 90, 199, 1) 100%
  );
  width: 100%;
  padding: 0;
}
.menu {
  top: 0px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding-bottom: 40px;
  z-index: 100;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.logo-container {
  display: flex;
  cursor: pointer;
}

@keyframes float-svg {
  0% {
    -webkit-filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
    transform: translatey(0px);
  }
  50% {
    -webkit-filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
    transform: translatey(+10px);
  }
  100% {
    -webkit-filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
    transform: translatey(0px);
  }
}
.app-logo {
  min-height: 100px;
  min-width: auto;
  max-height: auto;
  max-width: 300px;
  padding: 5px;
  -webkit-filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
  
}

.navigator .item {
  color: #ffffff;
  margin: 10px 20px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.navigator .item-container {
  margin-top: 20px;
}
.navigator .item a:visited {
  text-decoration: none;
  color: unset;
}

.navigator a.item:hover {
  color: #cccccc;
}

.navigator a.item::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.navigator a.item:hover::after {
  background-color: #cccccc;
  border-color: #cccccc;
}

.navigator a.item.active::after {
  background-color: #62ff50;
  border: 1px solid #62ff50;
}

.header-content {
  height: calc(100vh - 170px);
  min-height: 530px;
  width: 100%;
  position: relative;
}

.social-networks {
  position: absolute;
  bottom: 100px;
  left: 50px;
  display: block;
}
.social-networks > div {
  margin-bottom: 20px;
}

.social-networks img {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  border-radius: 100%;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.social-networks img:hover {
  border: 2px solid #ccc;
  animation: float 2s ease-in-out infinite;
}
.main-stickman {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  text-align: center;
  overflow: hidden;
}

.main-stickman img {
  height: 100%;
  animation: float-svg 2s ease-in-out infinite;
}

@media only screen and (max-width: 800px) {
    .navigator .item-container {
        display: none;
    }
    .menu {
        justify-content: center;
    }
    .social-networks img{
        height: 50%;
        width: 50%;
    }
}
