.phases {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 40px;
}
.phases .step {
    width: 270px;
    margin-bottom: 40px;
}

.phases .step .header {
    width: 100%;
    position: relative;
    height: 20px;
    margin-bottom: 40px;
}
.phases .step .header .line {
    height: 7px;
    position: relative;
    background-color: #2E3190;
    box-shadow: 0px 0px 9px 0px #7073d4;
}
.phases .step .header .line::after, .phases .step .header .line::before {
    content: '';
    background-color: #2e3190;
    position: absolute;
    right: -8px;
    width: 18px;
    top: 0;
    height: 100%;
    z-index: 10;
}

.phases .step .header .line::before {
    right: unset;
    left: -8px;
}

.phases .step .header .line.line-first {
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}
.phases .step .header .line.line-first::before {
    content: unset;
}
.phases .step .header .line.line-last {
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}
.phases .step .header .line.line-last::after {
    content: unset;
}
.phases .step .header .circle {
    position: absolute;
    width: 31px;
    height: 31px;
    background-color: #14176D;
    border-radius: 100%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.phases .step .header .circle.active {
    background-color: #42C433;
    box-shadow: 0px 0px 18px 10px #42C433;
}

.phases .step .header .circle.active:after {
    content: '';
    width: 27px;
    height: 27px;
    border: 3px solid #ffff;
    position: absolute;
    border-radius: 100%;
}

.phases .step  .content {
    width: 200px;
    margin: auto;
    border-radius: 5px;
    padding: 15px 10px;
    background-color: #4E52CE;
}

.phases .step  .content.active {
    background-color: #42C433;
}

.phases .step  .content img {
    border-radius: 15px;
    width: 100%;
    background: rgb(255 255 255 / 50%);
}

.phases .step  .content .step-date {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
}

.phases .step .content ul {
    margin-left: -20px;
}
