#faq {
    padding: 20px;
}

#faq .content {
    border-radius: 5px;
    margin: 10px;
    background-color: #4E52CE ;
    padding: 10px;
    border: 4px solid #FFFFFF;
    margin-bottom: 30px;
}
#faq .content .title-content{
    font-size: 120%;
    font-weight: bold;
}

@media only screen and (min-width: 768px) { 
    #faq .content { 
        max-width: 90%;
    }

    #faq .content:nth-child(2n+1) {
        margin-left: auto; 
        margin-right: 0;
    }

    #faq .content:nth-child(2n) {
        margin-left: 0; 
        margin-right: auto;
    }
}
