
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #868ACC;
    height: fit-content;
    padding: 20px;
}

footer .column {
  flex-grow: 1;
  width: calc(33% - 40px);
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

footer .column > div, footer .column .social {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .column .social {
    font-size: 25px;
    color: #fff;
}

footer .column .social:hover{
    opacity: 0.7;
}
footer img {
    max-width: 80%;
}
footer .social-icon {
    height: 60px;
    margin: 20px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
}
.center {
    align-items: center;
}

@media only screen and (max-width: 800px) {
    footer {
        align-items: center;
        justify-content: center;
    }
    footer .column {
        flex-grow: 1;
        width: 100%;
        height: unset;
        margin-bottom: 20px;
        text-align: center;
    }
}
