#welcome {
    min-height: 700px;
    position: relative;
    overflow: hidden;
}

.background-stickman {
    position: absolute;
    top: 10%;
    height: 80%;
    width: 50%;
    z-index: 0;
    background-repeat: no-repeat, repeat;
    opacity: 0.5;

}

.background-stickman.left {
    left: 0;
    transform: translateX(-100px);
}

.background-stickman.right {
    right: 0;
    transform: translateX(100px);
    background-position: right;
}

#welcome .content {
    max-width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

#welcome .content .top {
    margin-top: 50px;
    font-size: 20px;
    width: 50%;
    font-weight: bold;
}

#welcome .content p {
    font-size: 18px;
    line-height: 18px;
    margin-top: 40px;
}

#welcome .content .top img {
    width: 100%;
    max-width: 800px;
    margin-top: -30px;
}
#welcome .content .main {
    width: 50%;
}

#welcome .content .botton {
    padding-top: 50px;
    width: 50%;
    margin-bottom: 100px;
}

#welcome .content .botton img {
    width: 80%;
    max-width: 400px;
}

@media only screen and (max-width: 650px) {
    #welcome {
        height: auto;
    }
    .background-stickman {
        display: none;
    }
    #welcome .content {
        position: relative;
        left: unset;
    transform: unset;
    }
    #welcome .content .main, #welcome .content .top {
        width: 80%;
        text-align: center;
    }
    #welcome .content .botton {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    #welcome .content .botton img {
        position: relative;
        left: unset;
        transform: unset;
    }
}
